<h5>AtoBTest_Aobject</h5>

@code {
    [Parameter]
    public EventCallback<string> OnTextChanged { get; set; }
    private string inputText = "";

    private void HandleInput(ChangeEventArgs e)
    {
        inputText = e.Value.ToString();
        OnTextChanged.InvokeAsync(inputText);
    }
}
<input type="text" @onchange="HandleInput" />